<div class="container pt-5 mt-5">
    <h3 class="text-center"> Edit Profile </h3> 

    <div class="row">

     <%= form_tag("/#{@mechanic.id}", method: "patch", class: "form col-sm-6 m-auto" ) do %>
      <input class="form-control mt-3" type="text" name="name" placeholder="jane" value="<%= @mechanic.name%>">
      <input class="form-control mt-3" type="email" name="email" placeholder="john@doe.com" value="<%= @mechanic.email%>">
      <input class="form-control mt-3" type="password" name="password" placeholder="*********" value="<%= @mechanic.password%>">
      <input class="form-control mt-3" type="tel" name="phone" placeholder="+234534433" value="<%= @mechanic.phone%>">
      <input class="form-control mt-3" type="text" name="bussinessname" placeholder="john Mechanics ltd." value="<%= @mechanic.bussinessname%>">
      <input class="form-control mt-3 btn btn-primary" type="submit">
    <% end %> 

    </div>
</div>