<div class="mt-5 pt-5 ">
  Message
  <div chat class="card" style="max-height: 80vh; height:100%">
    <div class="card-header msg_head">
      <div class="d-flex bd-highlight">
        <div class="img_cont">
          <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
          <span class="online_icon"></span>
        </div>
        <div class="user_info">
		<% if @current_user.class.table_name === "users" %>
		  <span style="color:black"> <%=@mechanic.name %> </span>
		<% else %>
		  <span style="color:black"> <%=@user.name %> </span>
		<% end %>
          
          <p style="color:black" >1767 Messages</p>
        </div>
        <div class="video_cam">
          <span><i class="fas fa-video"></i></span>
          <span><i class="fas fa-phone"></i></span>
        </div>
      </div>
      <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
      <div class="action_menu">
        <ul>
          <li><i class="fas fa-user-circle"></i> View profile</li>
          <li><i class="fas fa-users"></i> Add to close friends</li>
          <li><i class="fas fa-plus"></i> Add to group</li>
          <li><i class="fas fa-ban"></i> Block</li>
        </ul>
      </div>
    </div>
    <div class="card-body msg_card_body">
      <% @Conversation.each do |item| %>
        <% if @current_user.class.table_name === item.sender_class %>
          <div class="d-flex justify-content-end mb-4">
            <div class="msg_cotainer_send">
              <%= item.body %>
              <span class="msg_time_send">8:55 AM, Today</span>
            </div>
            <div class="img_cont_msg">
              <img src="">
            </div>
          </div>
        <% else %>
          <div class="d-flex justify-content-start mb-4">
            <div class="img_cont_msg">
              <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
            </div>
            <div class="msg_cotainer">
              <%= item.body %>
              <span class="msg_time">8:40 AM, Today</span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="card-footer">
      <div class="input-group">
        <%# <div class="input-group-append">
          <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
        </div> %>
        <%= form_tag("/messages", method: "post", class: "" ) do %>
          <textarea name="body" class="form-control type_msg" placeholder="Type your message..."></textarea>
          <input hidden name="id" value="<%= @convo.id %>" />
          <button class="input-group-append">
            <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i>Send</span>
          </button>
        <%end%>
      </div>
    </div>
  </div>
</div>
<style>
  /* [chat] .chat{
  			margin-top: auto;
  			margin-bottom: auto;
  		} */
  
          [chat] form{
              width:100%;
              display:flex;
          }
  		[chat] .card{
  			max-height: 500px !important;
  			border-radius: 15px !important;
  			background-color: rgba(0,0,0,0.4) !important;
  		}
  		[chat] .contacts_body{
  			padding:  0.75rem 0 !important;
  			overflow-y: auto;
  			white-space: nowrap;
  		}
  		[chat] .msg_card_body{
  			overflow-y: auto;
  		}
  		[chat] .card-header{
  			border-radius: 15px 15px 0 0 !important;
  			border-bottom: 0 !important;
  		}
  	 [chat] .card-footer{
  		border-radius: 0 0 15px 15px !important;
  			border-top: 0 !important;
  	}
  		[chat] .container{
  			align-content: center;
  		}
  		[chat] .search{
  			border-radius: 15px 0 0 15px !important;
  			background-color: rgba(0,0,0,0.3) !important;
  			border:0 !important;
  			color:white !important;
  		}
  		[chat] .search:focus{
  		     box-shadow:none !important;
             outline:0px !important;
  		}
  		[chat] .type_msg{
  			background-color: rgba(0,0,0,0.3) !important;
  			border:0 !important;
  			color:white !important;
  			height: 60px !important;
  			overflow-y: auto;
  		}
  			[chat] .type_msg:focus{
  		     box-shadow:none !important;
             outline:0px !important;
  		}
  		[chat] .attach_btn{
  	border-radius: 15px 0 0 15px !important;
  	background-color: rgba(0,0,0,0.3) !important;
  			border:0 !important;
  			color: white !important;
  			cursor: pointer;
  		}
  		[chat] .send_btn{
  	border-radius: 0 15px 15px 0 !important;
  	background-color: rgba(0,0,0,0.3) !important;
  			border:0 !important;
  			color: white !important;
  			cursor: pointer;
  		}
  		[chat] .search_btn{
  			border-radius: 0 15px 15px 0 !important;
  			background-color: rgba(0,0,0,0.3) !important;
  			border:0 !important;
  			color: white !important;
  			cursor: pointer;
  		}
  		[chat] .contacts{
  			list-style: none;
  			padding: 0;
  		}
  		[chat] .contacts li{
  			width: 100% !important;
  			padding: 5px 10px;
  			margin-bottom: 15px !important;
  		}
  	[chat] .active{
  			background-color: rgba(0,0,0,0.3);
  	}
  		[chat] .user_img{
  			height: 70px;
  			width: 70px;
  			border:1.5px solid #f5f6fa;
  
  		}
  		[chat] .user_img_msg{
  			height: 40px;
  			width: 40px;
  			border:1.5px solid #f5f6fa;
  
  		}
  	[chat] .img_cont{
  			position: relative;
  			height: 70px;
  			width: 70px;
  	}
  	[chat] .img_cont_msg{
  			height: 40px;
  			width: 40px;
  	}
  	[chat] .online_icon{
  		position: absolute;
  		height: 15px;
  		width:15px;
  		background-color: #4cd137;
  		border-radius: 50%;
  		bottom: 0.2em;
  		right: 0.4em;
  		border:1.5px solid white;
  	}
  	[chat] .offline{
  		background-color: #c23616 !important;
  	}
  	[chat] .user_info{
  		margin-top: auto;
  		margin-bottom: auto;
  		margin-left: 15px;
  	}
  	[chat] .user_info span{
  		font-size: 20px;
  		color: white;
  	}
  	[chat] .user_info p{
  	font-size: 10px;
  	color: rgba(255,255,255,0.6);
  	}
  	[chat] .video_cam{
  		margin-left: 50px;
  		margin-top: 5px;
  	}
  	[chat] .video_cam span{
  		color: white;
  		font-size: 20px;
  		cursor: pointer;
  		margin-right: 20px;
  	}
  	[chat] .msg_cotainer{
  		margin-top: auto;
  		margin-bottom: auto;
  		margin-left: 10px;
  		border-radius: 25px;
  		background-color: #82ccdd;
  		padding: 10px;
  		position: relative;
  	}
  	[chat] .msg_cotainer_send{
  		margin-top: auto;
  		margin-bottom: auto;
  		margin-right: 10px;
  		border-radius: 25px;
  		background-color: #78e08f;
  		padding: 10px;
  		position: relative;
  	}
  	[chat] .msg_time{
  		position: absolute;
  		left: 0;
  		bottom: -15px;
  		color: rgba(255,255,255,0.5);
  		font-size: 10px;
  	}
  	[chat] .msg_time_send{
  		position: absolute;
  		right:0;
  		bottom: -15px;
  		color: rgba(255,255,255,0.5);
  		font-size: 10px;
  	}
  	[chat] .msg_head{
  		position: relative;
  	}
  	[chat] #action_menu_btn{
  		position: absolute;
  		right: 10px;
  		top: 10px;
  		color: white;
  		cursor: pointer;
  		font-size: 20px;
  	}
  	[chat] .action_menu{
  		z-index: 1;
  		position: absolute;
  		padding: 15px 0;
  		background-color: rgba(0,0,0,0.5);
  		color: white;
  		border-radius: 15px;
  		top: 30px;
  		right: 15px;
  		display: none;
  	}
  	[chat] .action_menu ul{
  		list-style: none;
  		padding: 0;
  	margin: 0;
  	}
  	[chat] .action_menu ul li{
  		width: 100%;
  		padding: 10px 15px;
  		margin-bottom: 5px;
  	}
  	[chat] .action_menu ul li i{
  		padding-right: 10px;
  
  	}
  	[chat] .action_menu ul li:hover{
  		cursor: pointer;
  		background-color: rgba(0,0,0,0.2);
  	}
    @media(max-width: 576px){
  	[chat] .contacts_card{
  		margin-bottom: 15px !important;
  	}
    }
</style>
