<!DOCTYPE html>
<html>
  <head>
    <title>CarLancer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/nav" %>
    <% if flash[:notice]%>
      <div class="alert alert-warning alert-dismissible mt-10 fade show" role="alert">
        <%="#{flash[:notice].to_json}"%>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
